<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      BINGO CARD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
    <ion-list>
      <div class="container">
        <ion-list>
          <ion-row>
            <ion-col *ngFor="let n of cardNumber | slice:0; let i = index">
              <div class="squares">
                <span>{{n}}</span>
              </div>
            </ion-col>
          </ion-row>
        </ion-list>
      </div>
    </ion-list>
  
</ion-content>
