
ion-col {
  padding: 0px !important;
}

ion-list {
  padding: 0px !important;
}

ion-row {
  padding: 0px !important;
}

.container {
  align-content:  center !important;
  justify-content: center !important;
  align-items: center !important;
}

.squares{
  width: 60px;
  height: 60px;
  color: #4D4D4D;
  border-radius: 1px;
  border: 1px solid #000;
  background-color: #E7E7E7;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-family: "arial-black";
  padding: 0px !important;
  font-size: 32px;
  margin: 0 auto !important;
}